html { margin: 20px }
body {
  margin: 0 auto;
  font-family: 'Baskerville', Georgia, Times, serif;
  font-size: large;
  line-height: 1.3em;
  padding: 15px;

}
header, footer, section, article {
  display: block;
}
#main footer {
  font-size: small;
  text-align: center;
  color: lightgray;
}
section.content {
  clear: both;
  border-bottom: 1px solid lightgray;
}
#by {
  font-style: italic;
  margin-right: 5px;
  font-size: 28px;
}
#caption {
  position: absolute;
  font-size: 24px;
  margin: -135px 0 0 70px;
}
#path {
  color: #b53131;
}
.date {
  font-style: italic;
  float: right;
}
a {
  color: #b83000;
}
h1 a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body > header > h1 {
  border-left: 30px solid black;
  padding-left: 30px;
  font-size: 201px;
  font-weight: normal;
  float: left;
}
.post header {
  margin-bottom: 10px;
}
.post .body p:first-child {
  margin-top: 0;
}
.post .body p:last-child {
  margin-bottom: 0;
}
.post {
  margin-bottom: 30px;
}
.post:last-child {
  margin-bottom: 10px;
}
.post p {
  margin: 10px 0;
  text-align: justify;
}
.post .more {
  margin-top: -10px;
  margin-right: 30px;
  font-style: italic;
  text-align: right;
}
.more .words {
  font-size: 60%;
}
.more a {
  text-decoration: none;
}
.more a:hover { text-decoration: underline }
body > header {
  display: block;
  padding-top: 30px;
  line-height: 180px;
  margin-bottom: 20px;
}
nav {
  position: absolute;
  top: 10px;
  background: white;
}
section#main {
  margin: 0 auto;
  max-width: 720px;
}
h1, h2, h3, h4 {
  display: inline;
  margin: 0;
  font-weight: 600;
}
ul, li {
  list-style-type: none;
}
pre {
  padding: 1em;
  font-family: 'Inconsolata', 'Monaco', 'Courier New';
  background: #222;
  color: green;
}
code {
  font-family: monospace;
}
blockquote {
  font-style: italic;
}

body > footer {
  text-align: left;
  margin-left: 10px;
  font-style: italic;
  font-size: 18px;
  color: #888;
}
